<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sict.project_2022">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_2022">
        <activity
            android:name="cn.edu.sict.chapter04.Lc0125_t4012"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0125_t401"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0123_t305"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0122_t304"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter02.Lc0107_t101"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0118_t3013"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0118_t3012"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter02.Lc0116_t203"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter02.LC0110_t202"
            android:exported="false" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity
            android:name="cn.edu.sict.chapter02.LC0108_t201"
            android:exported="true" />
    </application>

</manifest>