<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sict.project_2022">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_2022">
        <activity
            android:name="cn.edu.sict.review_and_bilibili.Lc0209_r102"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.review_and_bilibili.Lc0207_r101"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter05.Lc0202_t504_movieList"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter05.Page3"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter05.Page2"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter05.Page1"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter05.Lc0205_t503"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.review_and_bilibili.Lc0203_b102"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.review_and_bilibili.Lc0202_b101"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter05.Lc0131_t502"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0130_t406"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0130_t405"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter05.Lc0129_t501"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0128_t404"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0127_t4031"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0126_t4022"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0126_t4021"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0125_t4012"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter04.Lc0125_t401"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0209_r102"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0122_t304"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter02.Lc0107_t101"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0118_t3013"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter03.Lc0118_t3012"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter02.Lc0116_t203"
            android:exported="false" />
        <activity
            android:name="cn.edu.sict.chapter02.LC0110_t202"
            android:exported="false" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity
            android:name="cn.edu.sict.chapter02.LC0108_t201"
            android:exported="true" />
    </application>

</manifest>